<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <script> document.documentElement.style.fontSize = document.documentElement.clientWidth / 750 * 40 + "px";</script>
    <meta name="format-detection" content="telephone=no"/>
    <title>驾校详情</title>

    <include file="../public/wxhead"/>


    <style type="text/css">
        body {
            position: absolute;
            max-width: 750px;
            margin: auto;

        }

        .fui-navbar {
            max-width: 750px;
        }

        .fui-navbar, .fui-footer {
            max-width: 750px;
        }

        .fui-page.fui-page-from-center-to-left,
        .fui-page-group.fui-page-from-center-to-left,
        .fui-page.fui-page-from-center-to-right,
        .fui-page-group.fui-page-from-center-to-right,
        .fui-page.fui-page-from-right-to-center,
        .fui-page-group.fui-page-from-right-to-center,
        .fui-page.fui-page-from-left-to-center,
        .fui-page-group.fui-page-from-left-to-center {
            -webkit-animation: pageFromCenterToRight 0ms forwards;
            animation: pageFromCenterToRight 0ms forwards;
        }

        .imagesccty {
            width: 100%;
            text-align: center;
        }

        .imsty {
            max-height: 300px;
            display: block;
            width: 100%;
            text-align: center;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: 25px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .danmu {
            display: none;
            opacity: 0;
        }

        .idcdist input.ml45 {
            float: right;
            background: #007AFF;
            color: #FFFFFF;
            border: solid 1px #007AFF
        }

        .jiaxiaomains h3 {
            margin-top: -3px;
        }

    </style>


</head>

<body ontouchstart>

<div class='fui-page  shop-index-page fui-page-current member-page' style="top: 0; background-color: #fafafa; "
     id="jxmian">
    <div class="fui-content navbar">
        <!--内容-->
        <div class="default-items">


            <!-- <ul class="imagesccty"> -->
            <!-- <li v-for="item in imagesyongList">
                <img :src="'/upload/'+item" style="" class="imsty">
             </li> -->
            <!--            <img :src="'/upload/'+drivingdata.thumbnail" class="imsty">-->
            <!-- </ul> -->


            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="item in imagesyongList">
                        <img :src="item" style="" class="imsty">
                    </div>
                </div>


                <div class="swiper-pagination"></div><!--分页器（就是4个点点）-->
            </div>


            <div class="jiaxiaomains">
                <h3>{{drivingdata.name}}</h3>
                <p>地址：{{drivingdata.addr}}</p>
                <p>联系人：{{drivingdata.linkman}}</p>

                <!-- <p class="mordert"><input type="button" value="支付定金" class="stinput"/>
                     <span class="ml15" style="font-size: 12px; color: red;">支付500元定金可优惠100元</span>-->
                <!--                </p>-->

            </div>
            <div class="schooldohone">
                <a href="javascript:void(0);" v-on:click="openmap();" class="mun01"><i class="icon icon-map top"></i>
                    地图查看</a>
                <a :href="'tel:'+drivingdata.phone" class="mun02">
                    <i class="icon icon-mobile top"></i> {{drivingdata.phone}}
                </a>
            </div>
            <div id="phone_div" :style="{display:(hasphone == 0 ? 'block':'none')}">
                <!-- <p>手机号码:<input id="jphone" type="number" oninput="if(value.length>11)value=value.slice(0,11)"></p>
                 <p>
                     验证码<input id="jcode" type="text">
                     <button class="btn-get-sms" v-on:click="sendMsn();" id="Js_getCode">获取验证码</button>
                     <button class="btn-get-sms btn_heise " id="Js_resetCode" style="display:none;"><span
                             id="Js_second">60</span>秒后重发
                     </button>
                 </p>
                <p> <a href="javascript:void(0);" v-on:click="bingphone();">绑定手机号码</a></p> -->

                <div class="baom hhelst" id="baomtty">
                    <table border="0" cellspacing="0" cellpadding="0" class="cttable">

                        <tr>
                            <td width="70">手机号码</td>
                            <td><input id="jphone" type="number" oninput="if(value.length>11)value=value.slice(0,11)"
                                       class="inputst"></td>
                        </tr>
                        <tr>
                            <td>验证码</td>
                            <td>
                                <div class="stizm">
                                    <input id="jcode" type="text" class="iniputs">
                                    <button class="btn-get-sms  stinyzmtt" v-on:click="sendMsn();" id="Js_getCode">
                                        获取验证码
                                    </button>
                                    <button class="btn-get-sms btn_heise  stinyzmttys" id="Js_resetCode"
                                            style="display:none;"><span
                                            id="Js_second">60</span>秒后重发
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a href="javascript:void(0);" v-on:click="bingphone();" class="stinput">绑定手机号码</a>
                            </td>
                        </tr>
                    </table>
                </div>


            </div>
            <div class="hengxian"></div>
            <h3 class="titlest">—— 学车学费 ——</h3>
            <ul class="listjg">
                <li v-for="item in drivingprice">
                    <div class="">
                        <p>{{item.name}} <span class="ml5 red">￥{{item.price}}</span></p>
                        <p class="fonts12">{{item.type}}<span class="ml15 ">{{item.p_one_car}}人</span>
                            <span class="ml15 ">{{item.pick_up}}</span></p>
                        <div class="fonts12">
                            {{item.note}}
                        </div>

                        <div class="idcdist">
                            (¥{{drivingdata.deposit}})
                            <input type="button" value="支付定金" v-on:click="payjiaxiao('0',item.id);" class="inputfkm">
                            <input type="button" value="支付全款" v-on:click="payjiaxiao('1',item.id);"
                                   class="inputfkm ml45">
                        </div>
                    </div>
                    <!-- <div class="rights"> -->
                    <!-- <input type="button" value="付款" v-on:click="zixunonst();" class="inputfkm"> -->
                    <!--  <a href="#sdfsfd" v-on:click="zixun(item.id,item.name);">详情咨询</a>
                  </div> -->

                </li>

            </ul>

            <!--            <div class="hengxian"></div>-->
            <!--            <h3 class="titlest" id="baomxq">—— 报名咨询 ——</h3>-->
            <!--            <div class="baom" id="sdfsfd">-->
            <!--                <table border="0" cellspacing="0" cellpadding="0" class="cttable">-->
            <!--                    <tr>-->
            <!--                        <td width="30%">姓名:</td>-->
            <!--                        <td><input type="text" id="userName" class="inputst" placeholder="请输入您的姓名"></td>-->
            <!--                    </tr>-->
            <!--                    <tr>-->
            <!--                        <td>手机</td>-->
            <!--                        <td><input type="text" id="txtPhone" class="inputst" placeholder="请输入您手机号码"></td>-->
            <!--                    </tr>-->
            <!--                    <tr>-->
            <!--                        <td>验证码</td>-->
            <!--                        <td>-->
            <!--                            <div class="stizm">-->
            <!--                                <input type="text" class=" iniputs" id="txtsmscode" placeholder="验证码">-->
            <!--                                <button class="stinyzmtt" v-on:click="resetCode()" id="J_getCode">获取验证码</button>-->
            <!--                                <button class="btn-get-sms styyh " id="J_resetCode"  style="display: none;"><span-->
            <!--                                        id="J_second">60</span>秒后重发-->
            <!--                                </button>-->
            <!--                            </div>-->
            <!--                        </td>-->
            <!--                    </tr>-->
            <!--                    <tr>-->
            <!--                        <td></td>-->
            <!--                        <td>-->
            <!--                            <input type="button" v-on:click="subapply();" value="立即咨询" class="stinput "/>-->
            <!--                        </td>-->
            <!--                    </tr>-->
            <!--                </table>-->
            <!--            </div>-->
        </div>
        <!--内容-->
    </div>
</div>


<include file="../public/wxfoot"/>


<script>
    var app = new Vue({
        el: '#jxmian',
        data: {
            drivingdata: [],
            drivingprice: [],
            imagesyongList: [],
            did: '{$did}',
            hasphone: "{$hasphone}",
            pid: "",
            subject: "",
            shouquan: 0,
            selflng: '',
            selflat: '',
        },
        created: function () {

        },
        mounted() {
            var wxjsonstr = '{$jscode}';
            var jsonobj = eval('(' + wxjsonstr + ')');
            wx.config(jsonobj);
            this.getdrivingdetailData();
        },
        methods: {
            redywx: function () {
                var _self = this;
                wx.ready(function () {
                    wx.getLocation({
                        type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                        success: function (res) {
                            _self.selflat = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                            _self.selflng = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                            if (_self.selflng == '') {
                                puopenwin("页面未加载完毕，请稍等!");
                                return false;
                            }
                            if (_self.shouquan == 1) {
                                puopenwin("获取定位失败，原因可能是页面没加载完成或者您的手机或者微信未授权开启地理位置,请前往授权才能使用地图!");
                                return false;
                            } else {
                                var openmap = layer.open({
                                    title: "地图",
                                    type: 2,
                                    content: "/jiaxiao/wechatindex/schoolmap?schoollng=" + _self.drivingdata.lng + "&schoollat=" + _self.drivingdata.lat + "&selflng=" + _self.selflng + "&selflat=" + _self.selflat,
                                    area: ['353px', '500px'],
                                    btn: ['关闭']
                                });
                            }
                            hideloading();
                        },
                        fail(err) {
                            hideloading();
                            _self.shouquan = 1;
                            puopenwin("获取定位失败，原因可能是页面没加载完成或者您的手机或者微信未授权开启地理位置,请前往授权才能使用地图!");
                        },
                        cancel: function (res) {
                            hideloading();
                            puopenwin('拒绝授权地理位置将无法使用地图功能!');
                        }
                    });
                });
            },
            getdrivingdetailData: function () {
                var _self = this;
                $.ajax({
                    type: 'get',
                    data: {id: _self.did},
                    url: "{:url('/jiaxiao/index/getdrivingdetail')}",
                    dataType: 'json',
                    success: function (rs) {
                        _self.drivingdata = rs.data.drivingdata;
                        _self.drivingprice = rs.data.drivingprice;
                        _self.imagesyongList = rs.data.drivingdata.accessory
                        _self.bannertsy();
                        wx.ready(function () {   //需在用户可能点击分享按钮前就先调用
                            wx.updateAppMessageShareData({
                                title: _self.drivingdata.name, // 分享标题
                                desc: "欢迎报名", // 分享描述
                                link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                imgUrl: _self.drivingdata.thumbnail, // 分享图标
                                success: function () {
                                    // 设置成功
                                }
                            });
                            wx.updateTimelineShareData({
                                title: _self.drivingdata.name, // 分享标题
                                link: window.location.href, // 分享链接，该链接域名必须与当前企业的可信域名一致
                                imgUrl: _self.drivingdata.thumbnail, // 分享图标
                                success: function () {
                                    // 用户确认分享后执行的回调函数
                                },
                                cancel: function () {
                                    // 用户取消分享后执行的回调函数
                                }
                            });
                        });
                    }
                })
            },
            payjiaxiao: function (tag, id) {
                if (this.hasphone == 0) {
                    puopenwin("请绑定手机号码！");
                    $("#baomtty").show();
                    return false;
                }
                window.location.href = '/jiaxiao/wechatindex/rechargeorder?tag=' + tag + '&pid=' + id;
            },
            sendMsn: function () {
                var phone = $("#jphone").val();
                var reg_phone = /1\d{10}/;
                if (phone == "") {
                    puopenwin("请输入正确手机号")
                    return false;
                } else if (!reg_phone.test(phone)) {   //验证手机是否符合格式
                    puopenwin("手机号格式不对");
                    return false;
                } else {
                    $('#Js_getCode').hide();
                    $('#Js_resetCode').show();
                    var second = 60;
                    var timer = null;
                    $('#Js_second').html('60');

                    timer = setInterval(function () {
                        second -= 1;
                        if (second > 0) {
                            $('#Js_second').html(second);
                        } else {
                            clearInterval(timer);
                            $('#Js_getCode').show();
                            $('#Js_resetCode').hide();
                        }
                    }, 1000);
                    $.ajax({
                        type: 'post',
                        data: {
                            phone: phone,
                        },
                        url: "{:url('/jiaxiao/wechatindex/sendmsgpass')}",
                        dataType: 'json',
                        success: function (rs) {
                            console.log(rs);
                            if (rs.code == -1) {
                                puopenwin(rs.msg);
                            } else {
                                puopenwin(rs.msg);
                            }
                        }
                    })
                }
            },
            bingphone: function () {
                var _self = this;
                var phone = $("#jphone").val();
                var code = $("#jcode").val();
                var reg_phone = /1\d{10}/;
                if (phone == "") {
                    puopenwin("请输入正确手机号")
                    return false;
                }
                if (!reg_phone.test(phone)) {   //验证手机是否符合格式
                    puopenwin("手机号格式不对");
                    return false;
                }
                if (code == '') {
                    puopenwin("请输入验证码")
                    return false;
                }
                $.ajax({
                    type: 'post',
                    data: {
                        phone: phone,
                        code: code,
                    },
                    url: "{:url('/jiaxiao/wechatindex/bingphone')}",
                    dataType: 'json',
                    success: function (rs) {
                        console.log(rs);
                        if (rs.code == -1) {
                            _self.hasphone = 1;
                            puopenwin("号码绑定成功！");
                        } else {
                            puopenwin(rs.msg);
                        }
                    }
                })
            },
            resetCode: function () {
                var phone = $("#txtPhone").val();
                var reg_phone = /1\d{10}/;


                if (phone == "") {
                    puopenwin("请输入正确手机号")
                    return false;
                } else if (!reg_phone.test(phone)) {   //验证手机是否符合格式
                    puopenwin("手机号格式不对");
                    return false;
                } else {
                    $('#J_getCode').hide();
                    $('#J_resetCode').show();
                    var second = 60;
                    var timer = null;
                    $('#J_second').html('60');

                    timer = setInterval(function () {
                        second -= 1;
                        if (second > 0) {
                            $('#J_second').html(second);
                        } else {
                            clearInterval(timer);
                            $('#J_getCode').show();
                            $('#J_resetCode').hide();
                        }
                    }, 1000);

                    $.ajax({
                        type: 'post',
                        data: {
                            phone: phone,
                        },
                        url: "{:url('/jiaxiao/index/sendmsgpass')}",
                        dataType: 'json',
                        success: function (rs) {
                            console.log(rs);
                            if (rs.code == -1) {
                                puopenwin(rs.msg);
                            } else {
                                puopenwin(rs.msg);
                            }
                        }
                    })

                }
            },
            subapply: function () {
                var phone = $("#txtPhone").val();
                var reg_phone = /1\d{10}/;
                var name = $("#userName").val();
                var txtsmscode = $("#txtsmscode").val();

                if (phone == "") {
                    puopenwin("请输入正确手机号")
                    return false;
                } else if (!reg_phone.test(phone)) {   //验证手机是否符合格式
                    puopenwin("手机号格式不对");
                    return false;
                }
                if (name == "") {
                    puopenwin("请输入姓名")
                    return false;
                }
                if (txtsmscode == "") {
                    puopenwin("验证码不能为空")
                    return false;
                }
                $.ajax({
                    type: 'post',
                    data: {
                        name: name,
                        phone: phone,
                        code: txtsmscode,
                        sid: this.did,
                        pid: this.pid,
                        subject: this.subject,
                    },
                    url: "{:url('/jiaxiao/wechatindex/savedrivingapply')}",
                    dataType: 'json',
                    success: function (rs) {
                        console.log(rs);
                        if (rs.code == 1) {
                            puopenwin("报名成功！稍后客服直接已你联系！");
                        } else {
                            puopenwin(rs.msg);
                        }
                    }
                })
            },
            zixun: function (pid, name) {
                this.pid = pid;
                this.subject = name;
                // puopenwin("您以选择:" + name + ",请填写个人信息进行报名。");
            },
            zixunonst: function () {
                $(this).parent(".rights").siblings(".idcdist").toggle();
                puopenwin($(this).parent(".rights").html)
            },
            bannertsy: function () {
                var swiper = new Swiper('.swiper-container', {
                    autoplay: true,//可选选项，自动滑动
                    observer: true,
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                    pagination: {
                        el: '.swiper-pagination',
                    },
                });
            },
            openmap: function () {
                openloading("获取定位...");
                this.redywx();
            }
        }
    })


</script>


</body>
</html>
		