*{margin:0;padding:0;}
body{font-size:16px;line-height:22px; padding:0px; margin:0px; font-family:"微软雅黑";  }
img{border:none; vertical-align:middle;}
input{vertical-align:middle;}
select{vertical-align:middle;}
ul li{list-style-type:none;}
div, form, img, ul, ol, li, dl, dt, dd { border: 0 none; margin: 0; padding: 0;}
a{text-decoration:none; color:#005399;}

.clear_fix{clear:both;}
.fl{ float:left;}
.ov_hidden{ overflow:hidden;}

.container{margin: 0 auto;  width: 1200px; overflow: hidden;}
.left {
    float: left;
}
.right {
    float: right;
}
.hide{display:none}
.red {
    color: #EE4653;
}
.mt20{ margin-top: 20px;}

.header{ width:100%; height:100px; overflow:hidden;   }
.logo{ float: left; width:195px; height: 65px;  text-align: center; margin-top: 12px;}
.nav{ width: 800px; float: left; overflow: hidden;}
.nav li{ padding: 20px 20px; margin: 20px 15px 0px 15px; float: left;}
.nav li a{color: rgb(43, 43, 43); font-size: 16px;}
.nav li.mord{ background: #003d89; border-radius: 6px;}
.nav li.mord a{ color: #FFFFFF;}


.bannert{ width: 100%; height: 380px; overflow: hidden;}
.bannert ul li img{width: 100%; height: 380px;}
.main{ width:100%; height:10px; background:url(../images/bj_top.png) no-repeat; overflow:hidden; }

.v3_brandDriving{ width: 100%; overflow: hidden;}
.v3_brandDriving h2{   background: url(../images/conTitlH7.jpg) no-repeat left bottom; color: #13bd83;}
.v3_conTitle { margin-top: 12px; height: 54px; line-height: 54px; box-sizing: border-box; font-size: 20px; font-family: 微软雅黑, serif;  text-indent: 10px; font-weight: bold;  border-bottom: 2px solid rgb(238, 238, 238); overflow: hidden;}

.set_tag{ width:100%; overflow:hidden; }
.set_tag li{float: left; line-height: 24px;  padding: 0 8px; margin-right: 16px; font-size: 14px;  color: #666;  margin-top: 10px; cursor: pointer;}
.set_tag .selected{ background: #8c96a2; color: #fff;}

.v3_conTitlOne {
    background: url(../images/conTitlH1.jpg) no-repeat left bottom;
    color: #ff6633;
}
.idonews {
    background-color: #ff6633;
    border-radius: 20px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    margin-left: 20px;
    padding: 0;
    text-indent: 0;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 14px;
	padding: 2px 10px;
    }
 
 .index_serv{ width: 100%; overflow: hidden;}  
 .index_service {
     padding-top: 10px;
 }
.index_service .c .top {
    background: url(../images/text_bg.png) no-repeat 28px center;
	overflow: hidden;
	padding-top: 16px;
}
.fl {
    float: left;
}

.index_service .c .hd .ul .li.on {
    background: #e63c00;
}
.index_service .c .hd .ul .li {
    width: 227px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #315098;
    font-size: 24px;
    color: #fff;
    margin-bottom: 17px;
    cursor: pointer;
}

.pr {
    position: relative;
}
.index_service .c .hd .ul .li .i {
    display: block;
    width: 47px;
    height: 50px;
    background: url(../images/rec.png) no-repeat center;
    position: absolute;
    right: -3px;
    top: -4px;
}
.index_service .c .bd .ul .li .text {
    width: 433px;
    height: 311px;
    background: #e63c00;
	margin-right: 15px;
}
.index_service .c .bd .ul .li .text .box {
    padding: 30px 18px 15px 40px;
}
.index_service .c .bd .ul .li .text .box .span {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.index_service .c .bd .ul .li .text .box .remark {
    margin-top: 15px;
}
.index_service .c .bd .ul .li .text .box .remark .p {
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 2px;
}
.index_service .c .bd .ul .li .pic .img:nth-child(1) {
    margin-bottom: 16px;
}
.index_service .c .bd .ul .li .text .box .link {
    text-align: right;
    margin-top: 15px;
}
.index_service .c .bd .ul .li .text .box .link .a {
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    display: inline-block;
    padding: 6px 20px;
    border: 1px solid #fff;
}
.index_service .c .bd .ul .li .pic {
    width: 467px;
}
.index_service .c .bottom {
    margin-top: 18px;
}
.index_service .c .bottom .left {
    width: 1000px;
    height: 120px;
    background: #315098;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.index_service .c .bottom .left .box {
    padding: 20px 45px 20px 27px;
}
.index_service .c .bottom .left .box p {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    line-height: 36px;
    letter-spacing: 2px;
}
.index_service .c .bottom .right {
    width: 190px;
    height: 120px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #315098;
}
.index_service .c .bottom .right .btn {
    display: block;
    width: 100%;
    line-height: 50px;
    border: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background: #e63c00;
    margin-top: 33px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
}
.index_service .c .bottom .left .box p br {
    display: none;
}
.index_service .c .bottom .left .box img {
    width: 152px;
    height: 80px;
    vertical-align: bottom;
}
.index_service .c .bottom .right i {
    display: block;
    width: 25px;
    height: 27px;
    background: url(../images/click.png) no-repeat center;
    position: absolute;
    top: 79px;
    left: 151px;
    pointer-events: none;
}
.fr {
    float: right;
}
.index_service .c .bd .ul .li .pic .img {
    width: 467px;
    height: 148px;
    vertical-align: bottom;
}

.chengtong{ width: 100%; overflow: hidden;}

.v3_conTitlFour {
    background: url(../images/conTitlH4.jpg) no-repeat left bottom;
    color: #209ef6;
}
.index_about .left {
    width: 750px;
}
.index_about{ margin-top: 25px;}
.index_about .left ul li {
    margin-bottom: 22px;
    background: #315098;
    transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
}
.index_about .left ul li {
    margin-bottom: 22px;
    background: #315098;
	height: 72px;
   
}
.index_about .left ul li i {
    display: inline-block;
    width: 49px;
    height: 72px;
    margin-left: 27px;
    margin-right: 40px;
}
.index_about .left ul li i.ser {
    background: url(../images/1.png) no-repeat center;
}
.index_about .left ul li i.cert {
    background: url(../images/2.png) no-repeat center;
}
.index_about .left ul li i.money {
    background: url(../images/3.png) no-repeat center;
}
.index_about .left ul li p {
    line-height: 72px;
}
.index_about .right .link .a {
    font-size: 18px;
    color: #333;
    display: block;
    border: 1px solid #666;
    line-height: 58px;
}

.index_about .left p {
    font-size: 18px;
    color: #fefefe;
}
.index_about .left .address {
    text-align: center;
    background: #1b1b1b;
}
.index_about .left .address .address_icon {
    display: inline-block;
    vertical-align: top;
    height: 60px;
    width: 28px;
    margin-right: 40px;
    background: url(../images/4.png) no-repeat center;
}
.index_about .left .address p {
    max-width: 650px;
    display: inline-block;
    vertical-align: top;
    line-height: 60px;
}
.index_about .right .link {
    margin-top: 22px;
    text-align: center;
}
.school-list {
    margin: -30px 0 0 -30px;
    color: #666;
    font-size: 14px;
    font-family: "Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
}
.school-list li {
    float: left;
    position: relative;
    width: 522px;
    margin: 30px 0 0 30px;
    padding: 20px 30px;
    border: 1px solid #e9e9e9;
}
.school-list li .item-top .col1 {
    width: 305px;
    line-height: 30px;
}
.school-list li .item-top .col2 {
    width: 130px;
    line-height: 63px;
    border-left: 1px solid #e9e9e9;
    font-size: 30px;
    text-align: center;
}
.school-list li .item-top {
   
	overflow: hidden;
}
.school-list li .item-top .col1 .div1 .name {
    max-width: 180px;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.school-list li .item-top .col1 .div1 .star-w-s {
    display: inline-block;
    vertical-align: middle;
    margin: -3px 0 0 10px;
}
 .school-list.star-w-s .bfb {
    height: 100%;
    background: url(../images/26170a2c1308047cbc25d47cc860cd1e.png) left center no-repeat;
}
.school-list li .item-top .col1 .div2 span {
    display: inline-block;
    background: url(../images/24bc3d8a827f32b86d0ed191681125f9.png) left center no-repeat;
    padding-left: 20px;
}
.school-list li .item-top .col1 .div2 {
    margin-top: 10px;
    line-height: 20px;
}
.school-list li .item-top .col2 {
    width: 130px;
    line-height: 63px;
    border-left: 1px solid #e9e9e9;
    font-size: 30px;
    text-align: center;
}
.school-list li .item-top .col3 button {
    width: 80px;
    line-height: 28px;
    margin-top: 17px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
	background-color: #004d94;
	border: solid 1px #004d94;
	color: #FFFFFF;
}
.school-list li .item-content {
    height: 45px;
    margin-top: 20px;
    padding: 20px;
    background: #FAFAFA;
    color: #999;
}
.school-list li .item-content .img-w {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer{ width: 100%; margin-top: 20px; border-top: 1px #dddddd solid; padding-top: 15px;}
.v3_footer {
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
	
}
.v3_footerInfo {
    overflow: hidden;
    text-align: center;
    margin: 20px 0 14px 0;
    box-sizing: border-box;
    padding-left: 312px;
}
.v3_footerInfo li {
    display: inline-block;
    float: left;
    padding: 0 27px 0 66px;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    color: #333;
    position: relative;
    border-left: 1px solid #999;
}
.v3_footerText {
    text-align: center;
    line-height: 20px;
    color: #666;
    font-size: 12px;
    margin-bottom: 15px;
}
.v3_footerText {
    text-align: center;
    line-height: 20px;
    color: #666;
    font-size: 12px;
    margin-bottom: 15px;
}
.v3_footerPic {
    text-align: center;
    overflow: auto;
}
.v3_footerInfo li:before {
    position: absolute;
    left: 30px;
    top: 0;
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    background: url(../images/footer_icon.png) no-repeat center center;
    background-position: -52px 0;
}
.schoolone{ width: 100%; overflow: hidden;}
.commhd h4 {
    color: rgb(66, 66, 66);
    padding: 10px 0px 0px 18px;
    background: url(../images/inco.png) 0px -600px no-repeat;
    font: bold 14px/24px 宋体;
}
.schoolone ul li {
    float: left;
    margin: 15px 18px 12px 18px;
    width: 293px;
    padding: 0 32px 15px;
    background: #fff;
    border: 1px solid #eaeaea;
    height: 420px;
    overflow: hidden;
}
.clear {
    clear: both;
    font-size: 1px;
    width: 1px;
    visibility: hidden;
    margin-top: 0px!important;
    margin-top: -1px;
    line-height: 0;
}
.commcont a.commimg {
    position: relative;
    display: block;
    width: 292px;
    height: 155px;
    margin: 12px 0;
}
.commcont p {
    color: rgb(102, 102, 102);
    display: block;
    text-overflow: ellipsis;
    
    overflow: hidden;
}
.commcont p strong {
    padding-right: 12px;
    color: rgb(211, 0, 0);
    vertical-align: -2px;
    font: bold 24px/30px 黑体;
}
.commcont p i {
    color: rgb(66, 66, 66);
    font: 12px/30px 宋体;
}
.commcont p i b {
    color: rgb(66, 66, 66);
    padding-left: 5px;
    font: 12px/30px ;
    text-decoration: line-through;
}
.commcont a img {
    width: 292px;
    height: 155px;
    border-radius: 15px;
}

.commcont p span {
    font: 14px/30px ;
}
.commlook {
    margin-top: 10px;
}
.commlook span {
    float: left;
    color: rgb(66, 66, 66);
    font: 14px/40px ;
}
.commlook a {
    float: right;
    color: rgb(255, 255, 255);
    padding: 0px 20px;
    font: bold 18px/40px 宋体;
    border-radius: 5px;
	background-color: #003D89;
}

.common-channel-crumb {
    margin: 20px 0;
    line-height: 20px;
    font-size: 12px;
    font-family: "Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #999;
}
.common-channel-crumb i {
    padding: 0 5px;
    font-family: '宋体',SimSun;
}
.jiaxiao-content {
    padding: 20px;
    border: 1px solid #e9e9e9;
    position: relative;
	overflow: hidden;
}
.jiaxiao-content .img-w {
    display: block;
    width: 230px;
    height: 172px;
    overflow: hidden;
}
.jiaxiao-content .img-w img {
    display: block;
    width: 230px;
    height: auto;
}
.jiaxiao-content .item-mid {
    max-width: 500px;
    margin-left: 20px;
    color: #666;
}
.jiaxiao-content .item-mid .top-bar {
    margin-bottom: 8px;
}
.jiaxiao-content .item-mid .tip-bar {
    padding: 5px 0 15px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #e9e9e9;
}
.jiaxiao-content .item-mid .top-bar .title {
    line-height: 25px;
    font-size: 20px;
    margin-left: 0;
}

.jiaxiao-content .item-mid .tip-bar span img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 3px;
}
.jiaxiao-content .item-mid .address {
    color: #999;
    font-size: 14px;
}
.jiaxiao-content .item-mid .address .score-w {
    padding-left: 0;
}
.jiaxiao-content .item-mid .address .score-w .star-w {
    display: inline-block;
    vertical-align: top;
    width: 90px;
    height: 24px;
    background: url(../images/c6a9999c467472e4235e877af0557382.png) left center no-repeat;
}
.jiaxiao-content .item-mid .address .score-w .score {
    display: inline-block;
    vertical-align: top;
    height: 24px;
    line-height: 24px;
    margin-left: 10px;
}
.jiaxiao-content .item-mid .address .student {
    background: url(../images/466c805d2c2f8f50297148a767ebcc7a.png) left center no-repeat;
}
.jiaxiao-content .item-mid .address span {
   
    line-height: 24px;
    margin-right: 40px;
    padding-left: 25px;
}
.jiaxiao-content .item-mid .phone {
    margin: 15px 0;
}
.jiaxiao-content .item-mid .field {
    margin: 10px 0 0;
    line-height: 1;
}
.jiaxiao-content .hfengBox {
    border-right: 1px dashed #e9e9e9!important;
    margin: 18px 0;
    padding: 20px 0;
    width: 170px!important;
}
.jiaxiao-content .item-right {
    width: 300px;
    border: none;
}
.jiaxiao-content .item-right .price {
    display: block;
    line-height: 40px;
    font-size: 36px;
    font-weight: 700;
    color: #fd6d24;
}
.jiaxiao-content .item-right .btn-base-enroll {
    display: block;
    width: 140px;
    margin-top: 20px;
    line-height: 36px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: #37B5F8;
}
.main_jiax{ width: 100%; overflow: hidden;}
.main_jiax .set_tag{     
	background-color: #FAFAFA;
    font-size: 16px;
	margin-top: 25px;
	
	}

.main_jiax .set_tag li{     
	background-color: #FAFAFA;
    font-size: 16px;
	margin-top: 0px;
	 padding: 0px 25px;
	margin-right: 25px;
	height: 45px;
	line-height: 45px;
	}	
.main_jiax .set_tag .selected {
	    background: #8c96a2;
	    color: #37B5F8;
		background-color: #fff;
		border-top: solid 3px #37B5F8;
	}
.styp3 {
    line-height: 1.2;
    margin: 10px 0;
}
.red {
	    color: #EE4653;
	}
.list-w {
	    display: table;
	    width: 100%;
	    margin-top: 20px;
	    border: 1px solid #e9e9e9;
	    border-bottom: none;
	    font-size: 14px;
	    font-family: "Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","Helvetica Neue",Helvetica,Arial,sans-serif;
		overflow: hidden;
	}
.list-w li:first-child {
	    background-color: #FAFAFA;
	    height: 60px;
	}
.list-w li {
	    display: table-row;
	    line-height: 22px;
	    height: 80px;
	}
.list-w li .col {
	    display: table-cell;
	    vertical-align: middle;
	    width: 11%;
	    border-bottom: 1px solid #e9e9e9;
	    padding: 10px 15px 10px 0;
	}
.list-w li .col:first-child {
	    width: 12%;
	    padding-left: 20px;
	}
.list-w li .col.small {
	    width: 10%;
	}
.list-w li .col.big {
	    width: 15%;
	}
.list-w li .col2 {
	    width: auto;
	}
.list-w li .col.last {
	    width: 110px;
	}

.list-w li .col .btn {
	    display: inline-block;
	    width: 97px;
	    line-height: 35px;
	    background-color: #f90;
	    border-radius: 17px;
	    text-align: center;
	    color: #fff;
	}
.des-box {
    line-height: 32px;
    margin-top: 50px;
    font-size: 16px;
    font-family: "Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.des-box .title, .list-box .title {
    line-height: 28px;
    margin-bottom: 20px;
    padding-left: 15px;
    border-left: 4px solid #7eb4ed;
    font-size: 20px;
    font-family: "Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.list-box .list-w li .col1 {
    float: left;
    width: 8%;
	text-align: center;
}
.list-box .list-w li .col2 {
    float: left;
    width: 60%;
}
.list-box .list-w li .col3 {
    float: left;
    width: 28%;
    padding-left: 10px;
}
 .list-box {
    margin-top: 60px;
}
.list-box .list-w {
    margin-top: 20px;
    border: 1px solid #e9e9e9;
    border-bottom: none;
    font-size: 16px;
    font-family: "Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow:hidden;
	width: 99%;
}
 .list-box .list-w li {
    line-height: 39px;
display: block;
    border-bottom: 1px solid #e9e9e9;
	overflow:hidden;
	height: 39px;
}
.list-box .list-w li:first-child {
    line-height: 39px;
    background-color: #FAFAFA;
    border-bottom: none;
}
.cdimages{ width: 100%; overflow: hidden;}
.cdimages li{ width: 380px; height: 250px; float: left; margin: 20px 10px 0px 10px;}
.cdimages li img{width: 380px; height: 250px;}
.content_mst {
    margin: 10px 0 20px;
    color: #666;
    text-indent: 2em;
    letter-spacing: 1px;
    font-size: 15px;
	line-height: 28px;
}
.section_yy {
    width: 100%;
}
.section_yy h3 {
    margin-top: 14px;
    padding-bottom: 5px;
    color: #333;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    border-bottom: 1px solid #E9E9E9;
}
.section_yy p {
   color: #333;
       font-size: 14px;
	    line-height: 35px;
}
.about_content_shu_left {
    width: 225px;
}
.about_content_shu_left_title {
    width: 223px;
    height: 80px;
    line-height: 52px;
    border: 1px solid #ccc;
    position: relative;
}
.about_content_shu_left_title > i.i1 {
    width: 197px;
    height: 43px;
    display: inline-block;
    background: #315098;
    position: absolute;
    top: 10px;
    top: 17px;
    left: -16px;
}
.about_content_shu_left_title > i.i2 {
    width: 30px;
    height: 60px;
    display: inline-block;
    background: #fff;
    position: absolute;
    transform: rotate(28deg);
    top: 17px;
    right: 26px;
}
.about_content_shu_left_title > i.i3 {
    width: 15px;
    height: 9px;
    background-color: #18274b;
    position: absolute;
    top: 60px;
    left: -16px;
}
.about_content_shu_left_title  i.i4 {
    width: 17px;
    height: 10px;
    background: #fff;
    transform: rotate(34deg);
    position: absolute;
    top: 63px;
    left: -20px;
}
.about_content_shu_left div.title {
    _background: url(http://www.gzzengjia.com/Public/images/page_nav/nav.png);
    width: 197px;
    height: 51px;
    position: absolute;
    top: 17px;
    left: -16px;
}
.about_content_shu_left div.title a {
    display: block;
    width: 148px;
    height: 43px;
    color: #FFF;
    font-size: 16px;
    line-height: 43px;
    padding-left: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.about_content_shu_left_ul li.nLi {
    line-height: 43px;
    _height: 43px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.about_content_shu_left_ul li.nLi .f a {
    margin-left: 20px;
    font-size: 14px;
    display: block;
    height: 43px;
    width: 145px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.about_head {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
}
.about_content_shu_left_contact {
    margin-top: 20px;
    width: 225px;
    background: #fff;
    border: 1px solid #ccc;
}
.page_title {
    height: 40px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    background: #f8f8f8;
}
.page_title .icon {
    width: 40px;
    height: 40px;
    border-right: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
}
.page_title .title2 span {
    font-size: 14px;
    padding-left: 10px;
    color: #333;
}
.page_title .title2 {
    line-height: 40px;
}
.about_content_shu_left_contact .tel ul {
    padding: 10px 20px;
}
.about_content_shu_left_contact .tel ul li {
    font-size: 14px;
    color: #315098;
    font-weight: normal;
    padding: 2.5px 0;
}

.about_head h3 {
    color: #315098;
    font-size: 20px;
    font-weight: normal;
}
.centered_pag{ width: 100%; overflow: hidden;}
.centered_page_right {
    width: 950px;
    overflow: hidden;
}
.about_content {
    float: left;
    width: 910px;
    padding: 20px;
    overflow: hidden;
}

.jailty{ width: 100%; overflow: hidden; }
.jailty li{ width: 260px; float: left; text-align: center; margin-top: 25px; margin-left: 25px; margin-right: 25px;}
.jailty li div{
	   border: 2px dashed #C0C8D1;
	    padding: 10px;
	    background-color: #EFEFEF;
	    border-radius: 0.7em;
		text-align: left;
		margin-top: 10px;
}
.jailty li b{color: #E94500;}

.dangc{ width: 615px; height: 530px;}