*{margin:0;padding:0;}
body{font-size:14px;line-height:22px; padding:0px; margin:0px; font-family:"微软雅黑"; }
img{border:none; vertical-align:middle;}
input{vertical-align:middle;}
select{vertical-align:middle;}
ul li{list-style-type:none;}
div, form, img, ul, ol, li, dl, dt, dd { border: 0 none; margin: 0; padding: 0;}
a{text-decoration:none;  color:#141924}
a:hover{color:#888;}
.clear_fix{clear:both;}
.fl{ float:left;}
.fr{ float: right;}
.ov_hidden{ overflow:hidden;}



.haerh{ width: 100%;}
.logo{ width: 1200px; margin: 0 auto; height: 85px; overflow: hidden;}
.logo_left{ width: 650px; float: left;}
.logo_right{ float: right; text-align: right; color: #888888; margin-top: 45px;}
.logo_right a{ margin-left: 10px; margin-right: 10px;}

.navbj{ width: 100%;  background:#d61010; height: 42px; }
.nav{ width: 1200px; margin: 0 auto;  }

.topnav {padding: 0 0px; float: left; width: 1160px; font-size: 14px; }
.topnav li { float: left;  position: relative;  }
.topnav li.moren{background: #ff533b; }
.topnav li a{ padding: 10px 20px; color: #fff; display: block; text-decoration: none; float: left; }
.topnav li a:hover{ background: #ff533b;}

.topnav li span.subhover {background-position: center bottom; cursor: pointer;} 
.topnav li .subnav { position: absolute;  left: 0; top: 40px; display: none;   overflow: hidden; font-size: 14px;  }
.topnav li .subnav dd{  clear: both;  text-indent: 10px;}
.topnav li .subnav dd a { float: left; min-width: 90px; background: #FFFFFF ; color: #333333; }
.topnav li .subnav dd a:hover { color: #ff533b; }

.items{ width: 100%; height: 38px; line-height: 38px; background-color: #ff533b; position: absolute; z-index: 88; } 
.items_sub{width: 1000px; margin: 0 auto; }
.items_sub a{ color: #FFFFFF; margin: 0px 15px;}



.bannert{ width: 1200px;  margin: 0 auto; overflow: hidden; padding-top: 20px;}
.bannert_left{ width: 880px; float: left;}

.bannert_right{ width: 300px; float: right;}

.titlest{ height: 35px; border-top: solid 3px #d61010; border-bottom:  solid 1px #EDEDED; line-height: 35px; padding: 0px 10px; color: #d61010;}
.titlest a{ float: right; color: #888; font-weight: normal; font-size: 12px;  }

.con_tuju { margin-top:12px;}
.con_tuju  li{  line-height:35px; height:35px; overflow: hidden; }
.con_tuju  li a{width: 235px; line-height:35px; height:35px; float:left; margin-left:12px; overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap; display: table-cell;}
.con_tuju  li span{ line-height:23px; display:block; float:left; text-align:center; margin-top:6px; margin-left:15px; display: table-cell;}
.con_tuju  li .bj{ background:#d61010; color:#fff;width:23px; height:23px; }
.con_tuju  li .bj1{ border:1px solid #e5e5e5;width:22px; height:22px; }

.main{ width: 1200px;  margin: 0 auto;}
.main_one{ width: 100%; overflow: hidden; margin-top: 20px;}
.main_one_l{ width: 880px; float: left;}
.main_one_r{width: 300px; float: right;}


.main_title{ height: 35px; border-top: solid 3px #d61010; border-bottom:  solid 1px #EDEDED; line-height: 35px;  color: #d61010; overflow: hidden;}
.main_title li{ float: left; padding: 0px 15px 0px 15px; text-align: center; margin-right: 10px;}
.main_title li.morest{background-color: #d61010; }
.main_title li.morest a{ color: #FFFFFF;}

.main_sub{ width: 100%; overflow: hidden;}
.main_sub_l{ width: 375px; float: left;}
.main_sub_r{ width: 475px; float: right;}
.main_sub_lrt{width: 720px; float: right; overflow: hidden;}


.imgst{ width: 100%; position: relative; margin-top: 20px;}
.imgst dd img{ width:375px ; height:180px;}
.imgst dt{ width: 100%; position: absolute; bottom: 0px; text-align: center; height: 30px; line-height: 30px; background: #000;opacity:.7;filter:alpha(opacity=70);-moz-opacity:.7; }
.imgst dt a{color: #FFFFFF;}

.imgst_foot{ width: 100%; overflow: hidden; margin-top: 10px;}
.imgst_foot li{position: relative; text-align: center;}
.imgst_foot li img{ width: 182px; height: 90px;}
.imgst_foot li .tit{height: 25px;  line-height: 25px; color: #FFFFFF; font-weight: normal; background: #000;opacity:.7;filter:alpha(opacity=70);-moz-opacity:.7; }

.main_lists{ width: 100%;}
.main_lists h3{ margin-bottom: 6px; overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;}
.main_lists li{ margin-top: 20px; border-bottom: 1px #EDEDED solid; padding-bottom: 10px; }
.main_lists li p{ color: #888888; overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;}

.main_two{width: 100%; overflow: hidden; margin-top: 20px;}

.main_two_lis li{ width: 330px; float: left; margin: 20px 15px 0px 15px; border-bottom: 1px #EDEDED solid; padding-bottom: 10px;}
.main_two_lis li p{ color: #888888;}

.main_twohot{ width: 100%; overflow: hidden; margin-top: 10px;}
.main_twohot li{ width: 305px; float: left; margin-top: 10px;}
.main_twohot li.w325{ width: 355px;}
.main_twohot li a{ color: #777;}

.fix{*zoom:1; margin-left:auto; margin-right:auto;}
.fix:after{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
.cell_bk{display:table; width:100%; table-layout:fixed; word-wrap:break-word;}
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.suanmen_img{ float:left; margin-right:8px; border: solid 1px #EDEDED; }

.side_groups{ width:100%; overflow: hidden; }
.side_groups li{margin-top: 19px; }
.side_groups li a{vertical-align: middle;}
.anrong h3{ font-size: 16px; margin-bottom: 10px;}
.anrong p{ color: #888888;}


.hdong{ width: 100%; overflow: auto;}
.hdong  h4{ margin-top: 20px; font-size: 16px;}
.hdong_l{ width: 585px; float: left; overflow: hidden;}
.hdong_l_l{ width: 240px; float: left;}
.hdong_l_r{ width: 325px; float: right;}
.mtlist30 li{ margin-top: 35px;}

.index_suer{ width: 100%;overflow: hidden;}
.index_suer_float{ width: 430px; float: left; overflow: hidden;}
.index_suer_r{width: 430px; float: right; overflow: hidden;}

.useryh_l{ width: 180px; float: left; overflow: hidden;}
.useryh_r{ width: 240px; float: right;}
.hdong_r{width: 590px; float: right; overflow: hidden;}
.notes{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.tisubt{ margin-top: 15px; color: #333333; font-size: 16px;}

/* clear both */
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden}
.clearfix{zoom:1; display:inline-block; _height:1px}
*html .clearfix{height:1%}
*+html .clearfix{height:1%}
.clearfix{display:block}

/* index slide */
.index_slide{width:880px;height:360px; }
.index_slide .box{float:left;overflow:hidden;width:650px;height:360px;;}
.index_slide .box .show{position:relative;display:none;zoom:1;height:360px}
.index_slide .box .show img{width:650px;height:360px}
.index_slide ul.nav{float:right;width:215px}
.index_slide ul.nav li{height:80px; border:solid 1px #EDEDED; margin: 6px 0px ; }
.index_slide ul.nav li.cur{border:solid 1px red}
.index_slide ul.nav li img{display:block; width:213px; height:80px;}

.footer{ border-top: solid 1px #e1e1e1;  margin-top: 25px; padding-top: 15px; padding-bottom: 15px; text-align: center; line-height: 30px;  }
.footer .imagesty{ margin-top: 10px;}
.footer .imagesty img{ height: 40px; margin: 0 25px;}
